&INPUT
{%- for key, value in input %}
    {{ typeCast(key, value) }}
{%- endfor %}
 /
{{ipath.length}}
{% for point in ipath -%}
{% for d in point.coordinates %}{{d}} {% endfor -%}{{point.steps}}
{% endfor %}
