&INPUTPH
{%- for key, value in inputph %}
    {{ typeCast(key, value) }}
{%- endfor %}
/
&PLOT
{%- for key, value in plot %}
    {{ typeCast(key, value) }}
{%- endfor %}
/
{% for point in qpath -%}
{% for d in point.coordinates %}{{d}} {% endfor %}
{% endfor %}
